@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a:link,
a:active,
a:visited {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2c75b1;
}
.container {
  min-height: calc(100vh - 9.8rem);
}
.path {
  width: 60% !important;
  margin-right: 0.5rem;
}
